
<section class="container__banner__user animate">

    <article class="user_navbar">

        <!-- logo -->
        <div class="user">
            <app-icon width="30px" route="../../../assets/icon/graph.svg"></app-icon>
        </div>


        <!-- search + avatar -->
        <div class="user">
            <app-icon width="30px" route="../../../assets/icon/search.svg"></app-icon>
            <app-icon width="30px" route="../../../assets/icon/avatar.svg"></app-icon>
        </div>

    </article>


<!-- welcome text -->
    <article class="user welcome__text">
        <h1>Hello Jeremias,</h1>
        <p>Bienvenido de nuevo a tu gestor de archivos!</p>
    </article>

    <!-- navigation storage -->
    <article class="navigation">

        <div class="links">
            <button class="selected" mat-button>Internal</button>
            <button class="disabled" mat-button>External</button>
        </div>

    </article>
</section>