<section class="fadeInLeft">

     
    <section class="container__banner__user animate">
 


    <!-- welcome text -->
        <article class="user welcome__text animate">
            <h1>Detalles de almacenamiento</h1>
        
            <img src="../../../assets/icon/settings.svg" alt="logo">
        </article>
    
        <article class="container__logo__banner animate">
            <img src="../../../assets/images/storage-total.svg" alt="logo">
        </article>


        <!-- navigation storage -->
        <article class="navigation">

            <div class="links">
                
                <div>
                    <p>Total space</p>
                    <h1>256 GB</h1>
                </div>


                <div>
                    <p>Used</p>
                    <h1>196 GB</h1>
                </div>

            </div>

        </article>
    </section>
    
</section>

 