<section class="fadeInLeft">

     
    <section class="container__banner__user animate">

        <article class="user_navbar">

            <!-- logo -->
            <div class="user">
                <!-- <app-icon width="30px" route="../../assets/icon/graph.svg"></app-icon> -->
            </div>
    
            <!-- search + avatar -->
            <div class="user">
                <!-- <app-icon width="30px" route="/"></app-icon> -->
                <!-- <app-icon width="30px" route="/src/assets/icon/avatar.svg"></app-icon> -->
            </div>

        </article>


    <!-- welcome text -->
        <article class="user welcome__text">
            <h1>Detalles de almacenamiento</h1>
        
            <img src="../../../assets/icon/settings.svg" alt="logo">
        </article>
    
        <article class="container__logo__banner">
            <img src="../../../assets/icon/settings.svg" alt="logo">
        </article>


        <!-- navigation storage -->
        <article class="navigation">

            <div class="links">
                
                <div>
                    <p>Total space</p>
                    <h1>256 GB</h1>
                </div>


                <div>
                    <p>Used</p>
                    <h1>196 GB</h1>
                </div>

            </div>

        </article>
    </section>
    
</section>

 