<section class="list__storage fadeInLeft">

    <article class="fab__button">
        <app-icon route="../../../assets/icon/add.svg"></app-icon>
    </article>


    <article class="container__item animate" *ngFor="let item of list">
    
        <div class="container__image">
            <img class="toIcon scale" [src]="item.img" alt="logo">
        </div>
    
        <div class="title__item">
            <h1>{{ item.name }}</h1>
            <p class="available"><strong class="percentage">{{ item.percentage }}</strong> Disponible</p>
        </div>
    
        <div>
            <app-icon route="../../../assets/icon/more.svg"></app-icon>
        </div>
    
    </article>

    
</section>




