<section class="container__folders">

    <!-- title -->
    <article class="container__title">

        <h1>Mis archivos</h1>
        <app-icon route="../../../assets/icon/more-file.svg"></app-icon>
    
    </article>



    <article class="container__folders__item animate" *ngFor="let folder of listFileLists">

        <div class="folder" matRipple>

            <!-- image folder -->
            <div class="container__1"> 
               
                <img class="image__name" [src]="folder.image" alt="folder image">
                <app-icon route="../../../assets/icon/more.svg"></app-icon>

            </div>

            <!-- title folder -->
            <div class="container__2"> 
                <h1>{{ folder.name }}</h1>
                <p>{{ folder.created }}</p>
            </div>

        </div>

    </article>

    


</section>