<section class="container__folders">

    <!-- title -->
    <article class="container__title">

        <h1>Mis archivos</h1>
        <app-icon route="../../../assets/icon/more-file.svg"></app-icon>
    
    </article>



    <article class="container__folders">

        <div class="folder" matRipple>

            <div class="container__1"> 
                <img class="image__name" src="../../../assets/images/star.svg" alt="folder image">

                <app-icon route="../../../assets/icon/more.svg"></app-icon>
            </div>

            <div class="container__2"> 
                <h1>My Favorite</h1>
                <p>Created 20/2021</p>
            </div>

        </div>

    </article>

    


</section>