


.container__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

.container__title h1{
    font-family: ubuntu;
    color: rgb(7, 9, 97);
}





.folder{
    width: 170px;
    height: 170px;
    border-radius: 14px;
    cursor:pointer;
    background-color: rgb(231, 224, 224);
}

.container__1 {
    display:flex;
    padding:9px;
    justify-content: space-between;
    
}
.image__name{
    width:70px;
    height:70px;
}



.container__2{
    padding-left: 20px;

}

.container__2 h1{
    margin-bottom: 0;
    margin-top:10px;
    color: rgb(11, 10, 87);
    font-weight: 700;
    font-family: Arial;
}

.container__2 p{
    font-family: ubuntu;
    font-size:14px;
    color: rgb(119, 101, 101);
}