/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;overflow-x:hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.scale{
    animation: scaleElement .8s linear;
    transition:1s;
}
@keyframes scaleElement{
    from{
        transform: scale(.2);
        opacity: 0;
    }
    to{
        transform: scale(.6);
        opacity: 1;
    }

}






.animate{
    animation: animateElement .6s linear;
    transition:1s;
}
@keyframes animateElement{
    from{ 
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }

}

.fadeUp{
    animation: fadeElement .8s .2s linear;
    transition:1s;
}
@keyframes fadeElement{
    from{ 
        opacity: 0;
        transform: translateY(8px);
    }
    to{ 
        opacity: 1;
        transform: translateY(1);
    }

}

.fadeInLeft{
    width:100% !important;
    height:100% !important;
    animation:fadeLeft .2s linear !important;
}
@keyframes fadeLeft{
    from{
        transform:translateX(100%);
    }
    to{
        transform:translateX(1);
    }
}





